
.boxes:hover {
    background-color: white;
}

button {
    margin: 3;
    display: block;
    place-content: center;
    padding: 10px;
    background-color: lab(52.21% -30.62 -9);
    border: 0px;

}

button:hover {
    background-color: rgb(2, 203, 203);
    box-shadow:  2px 3px 7px rgb(2, 104, 104);
}

#outside {
    padding: 20px;
    background-color: darkgrey;
    height: var(--real-vh);
    width: 100vw;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-weight: 300;
    font-size: 57px;
    color: black;
}